.header-admin {
    height: 50px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    .header_auth {
        display: flex;
        align-items: center;
    }

    .header_home{
        display: flex;
        .header_home_img{
            width: 200px;
        }
    }
}

.header_home_img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.menu_management{
    color: white;
}

.item_menu_mangament{
    color: white;
}
